$background: #fff;
$textLogo: #333;
$navBackground:#1b1a1a;
$textWhite: #fff;
$textGrey: #4b4b4b;
$textFooter: #808080;
$footerBGC: rgba(243, 243, 243, 0.8);
$hoverColor: rgba(169, 168, 168, 0.871);
$btnColor: rgb(0, 219, 95);
$btnColorShadow: 2px 1px 5px rgb(0, 219, 95);
