@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700&display=swap');
@import './colors';
@mixin flex-center {
	display: flex;
	justify-content: space-between;
	align-items: center;
}

* {
	box-sizing: border-box;
	margin: 0;
	padding: 0;
}

html {
	scroll-behavior: smooth;
	scroll-snap-type: y proximity;
	scroll-padding-top: 50px;
}

body {
	width: 100%;
	min-width: 275px;
	font-size: 16px;
	font-family: 'Montserrat', sans-serif;
}

.wrapper {
	margin: 0 auto;
	width: 100%;
}

.nav {
	position: fixed;
	width: 100%;
	top: 0;
	background-color: $background;
	z-index: 20;
	display: flex;
	justify-content: space-around;
	align-items: center;
	&-items {
		list-style: none;
		display: flex;
		&__item {
			padding: 1.4rem;
			width: 120px;
			text-align: center;
		}
		&__itemlink {
			text-decoration: none;
			color: $textFooter;
			font-size: 1.2rem;
			transition: color 0.3s, background-color 0.3s;
			&:hover {
				background-color: $navBackground;
				color: $textWhite;
			}
		}
	}
}

.hero-img {
	position: relative;
	display: flex;
	background-image: url(../img/jungle.webp);
	background-size: cover;
	background-position-y: 70%;
	align-items: center;
	height: 45vh;
	margin-top: 70px;
	&__shadow {
		position: absolute;
		width: 100%;
		height: 100%;
		background-color: rgba(0, 0, 0, 0.7);
	}

	&__text {
		color: white;
		z-index: 1;
		text-align: left;
		width: 80%;
		font-size: 1.5rem;

		p {
			color: $textWhite;
		}
	}
}

.logo {
	padding: 1rem;
	text-decoration: none;
	&-icon {
		width: 25px;
	}
	&-companyname {
		font-size: 1.7rem;
		margin-left: 0.5rem;
		color: $textLogo;
	}
}

.mobilemenu {
	&-icon {
		display: none;
		font-size: 2rem;
	}
}

.aboutus {
	margin-top: 2rem;
	margin-bottom: 5rem;
	height: auto;
	&-content {
		display: flex;
		justify-content: center;
		flex-wrap: wrap;
	}
	&-title {
		text-align: center;
		text-transform: uppercase;
		font-weight: 300;
		padding-top: 2rem;
		padding-bottom: 2rem;
	}
	&-img {
		width: 28rem;
		height: auto;
		background-size: cover;
		background-position: 50%;
		margin: 0 3rem;
	}
	&-text {
		width: 33em;
		line-height: 1.5em;
		color: $textGrey;
		&__title {
			margin-bottom: 1em;
			font-weight: 700;
		}
		&__content {
			color: $textGrey;
			text-align: justify;
		}
	}
}

.adventure {
	&-img {
		position: relative;
		background-image: url(../img/girl.webp);
		background-size: cover;
		background-position: center;
		align-items: center;
		height: 35vh;
		&__shadow {
			position: absolute;
			width: 100%;
			height: 100%;
			background-color: rgba(0, 0, 0, 0.7);
		}
		&__text {
			color: $textWhite;
			position: absolute;
			top: 50%;
			left: 50%;
			transform: translate(-50%, -50%);
			border: 1px solid $textWhite;
			padding: 1em 4em;
			width: 60%;
			text-align: center;
			h2 {
				font-weight: 400;
			}
		}
	}
}

.offer {
	margin-top: 2rem;
	text-align: center;

	&-title {
		font-weight: 400;
		margin-bottom: 2rem;
	}
	&-text {
		font-weight: 400;
		margin-bottom: 3rem;
	}
	&-box {
		display: flex;
		flex-wrap: wrap;
		justify-content: center;
		align-items: center;
	}
	&-card {
		box-shadow: 0 1px 6px $textGrey;
		border-radius: 6px;
		margin: 0.8em;
		width: 16em;
		padding: 2rem 0;
		text-align: center;
		&__price {
			padding: 0.5rem 0.5rem 0;
			font-weight: 600;
			font-size: 2.4rem;
		}
		&__list {
			list-style: none;
			padding: 2rem;
			display: flex;
			flex-direction: column;
			justify-content: start;
			align-items: center;
		}
	}
	&-icon {
		text-shadow: 1px 1px 1px;
		margin-right: 0.2rem;
		&__inpacket {
			color: $btnColor;
		}
		&__outpacket {
			color: $textGrey;
			text-decoration: line-through;
		}
	}

	&-outpacket {
		color: $textGrey;
		text-decoration: line-through;
	}

	&-choose {
		color: $textGrey;
		background-color: $background;
		border: 1px solid $textFooter;
		font-weight: bold;
		text-transform: uppercase;
		border-radius: 4px;
		cursor: pointer;
		padding: 10px 35px;
		text-align: center;
		transition: transform 0.3s, box-shadow 0.3s, box-shadow 0.3s, background-color 0.3s;
		&__choosen {
			background-color: $btnColor;
			color: $textGrey;
		}
		&:hover {
			box-shadow: none;
			background-color: $btnColor;
			transform: scale(1.2);
		}
	}
}

.footer {
	background-color: $footerBGC;
	color: $textGrey;
	width: 100%;
	margin-top: 5rem;
	&-boxes {
		display: flex;
		flex-wrap: wrap;
		justify-content: space-around;
		width: 80vw;
	}
	&-boxleft {
		display: flex;
		align-items: flex-start;
		font-size: 2.2rem;
		padding: 2rem 0.5rem;
		flex-direction: row;
		flex-wrap: nowrap;
		justify-content: center;
	}
	&-boxright {
		display: flex;
		justify-content: space-around;
		&__column {
			padding: 2rem 1.5rem;
		}
	}
	&-logo {
		width: 40px;
		height: auto;
		margin-right: 0.5rem;
	}
	ul {
		list-style: none;
		margin-top: 0.5rem;
	}
	li {
		padding: 0.5rem 0;
		transition: color 0.3s;
		font-weight: 500;
		cursor: pointer;
		&:hover {
			color: $btnColor;
		}
	}
	&-author {
		display: flex;
		justify-content: center;
		padding: 0.5rem;
		border-top: 3px solid $textFooter;
	}
}

//mobile
@media screen and (max-width: 1075px) {
	.aboutus {
		&-content {
			justify-content: center;
			flex-wrap: wrap;
			flex-direction: column;
			align-content: center;
		}
		&-text {
			text-align: center;
			margin-top: 2rem;
		}
	}
}

@media screen and (max-width: 660px) {
	.adventure-img__text {
		width: 80%;
	}
	.logo {
		padding: 0;
	}
	.hero-img {
		margin-top: 50px;
	}
	.nav {
		height: 50px;
		&-items {
			display: none;
		}
	}
	.mobilemenu {
		position: fixed;
		left: -150%;
		top: 0;
		list-style: none;
		display: flex;
		flex-direction: column;
		justify-content: center;
		align-items: center;
		width: 100vw;
		height: 100vh;
		background-color: #ffffff;
		animation: closeMenu 0.4s;
		z-index: 0;
		&-icon {
			width: 50px;
			height: 50px;
			display: block;
			margin: 0;
			padding: 0;
			border: none;
			background: none;
			cursor: pointer;
			&__open {
				background-image: url(../img/menu.svg);
				background-repeat: no-repeat;
				background-position: 50%;
				opacity: 1;
			}
			&__close {
				background-image: url(../img/close.svg);
				background-repeat: no-repeat;
				background-position: 50%;
				opacity: 1;
				z-index: 50;
			}
		}

		&-active {
			display: flex;
			left: 0;
			z-index: 50;
			animation: openMenu 0.4s;
		}
	}

	.footer {
		background-color: $footerBGC;
		color: $textGrey;
		width: 100%;
		margin-top: 5rem;
		&-boxes {
			display: flex;
			flex-direction: column;
			flex-wrap: wrap;
			justify-content: space-around;
			width: 80vw;
		}
	}
	.aboutus {
		&-content {
			align-items: center;
		}
		&-img {
			//width: 18rem;
			margin: 0;
		}
		&-text {
			width: 80%;
		}
	}
}

@media screen and (max-width: 450px) {
	.aboutus {
		&-content {
			align-items: center;
		}
		&-img {
			width: 100%;
			margin: 0;
		}
		&-text {
			width: 80%;
			&__content {
				text-align: center;
			}
		}
	}

	.footer {
		&-boxright {
			justify-content: center;
			align-items: center;
			flex-direction: column;
			&__column {
				padding: 0.5rem;
				text-align: center;
			}
		}
	}
	.hero-img__text {
		width: 90%;
		font-size: 1rem;
	}
	.adventure-img__text {
		width: 100%;
		padding: 0.5rem 2rem;
	}
	.footer-author {
		text-align: center;
	}
}

@keyframes openMenu {
	from {
		left: -150%;
	}
	to {
		left: 0;
	}
}

@keyframes closeMenu {
	from {
		left: 0%;
	}
	to {
		left: -150%;
	}
}

@keyframes btnOpacity {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
